h3 {
    font-size: 50px;
}

#about {
    font-size: 25px;
}

#connect {
    font-size: 25px;
}

#login {
    font-size: 25px;
}

#profile {
    font-size: 25px;
}

#home {
    font-size: 25px;
}

#logout {
    font-size: 25px;
}

#signup {
    font-size: 25px;
}
