#userImage{
    border-style: solid;  
    margin-right: 5%;
}

#userInfo {
    border-style: solid;     
}

#questions {
    border-style: solid;
        
}

.quest {
    padding-top: 2.5%;     
}

.profile {
    padding-top: 2.5%;
}