#userImage{
    /* border-style: solid;   */
    /* margin-right: 5%; */
}

img {
    height: 250px;
    width: 250px;
}

#userInfo {
    /* border-style: solid;      */
    box-shadow: 2px;
}

#questions {
    border-style: solid;
        
}

.quest {
    padding-top: 2.5%;     
}

.profile {
    padding-top: 2.5%;
}

.display-left {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }