html {
    /* position: relative;
    text-align: center;
    background-color: white; */
}

.errors {
    display: block;
}

.noerrors {
    display: none;
}

.container2 {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertically */
    height: 500px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color:white;
    background-color: black;
    padding: 5px 20px 20px 20px;
    border-radius: 30px 30px 30px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .8;
}

.user-info {
    background-color: grey;
    color: white;
    height: auto;
    padding-bottom: 100%;
    padding-top: 2%;
}

#profile-view {
    height: auto;
}

.user-options {
    border: solid;
    /* border-color: black; */
    padding: 30px 10px 30px 10px;
    margin-bottom: 2%;
    font-size: 30px;
    background-color: black;
}

#username:hover {
    background-color: silver;
    color: black;
}

#fMentor:hover {
    background-color: silver;
    color: black;
}

#mentor:hover {
    background-color: silver;
    color: black;
}

#chat:hover {
    background-color: silver;
    color: black;
}

#indeed:hover {
    background-color: silver;
    color: black;
}

#questionnaire:hover {
    background-color: silver;
    color: black;
}

/* #logout:hover {
    background-color: rgb(177, 39, 39);
    color: white;
} */